<!DOCTYPE html>
<html>
<head>
    <title>Quoting Dojo </title>
</head>

<body>
    <h1>Here are the awesome quotes!</h1>
    <hr>
    <%if(typeof(users) != "undefined"){%>
        <%for(user in users){%>
            <h2>"<%=users[user].quote%>"</h2>
            <h2>-<%=users[user].name%> at <%=users[user].createdAt%></h2>
            <hr>
        <%}%>
    <%}%>

</body>

</html>