<!DOCTYPE html>
<html>
<head>
    <title>Survey Form</title>
</head>
<body>
    <legend>Mongoose </legend>
    <form action="/users" method="post">
        <label for="name">Name:
            <input id="name" type="text" name="name">
        </label> <br> <br>
        <label for="age"> Age:
            <input id="age" type="number" name="age">
        </label> <br> <br>
        <button>Create users</button>
        
    </form>
</body>
</html>